* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 16px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    background-color: #c4c4c4;
    line-height: 1.6;
}

h1 {
    color: black;
    font-size: 40px;
}

h2 {
    color: #06c;
}

h3 {
    color: #565656;
    background: rgba(222, 209, 209, 0.836);
    padding: 5px;
}

#header {
    background: #06c;
    color: white;
    text-align: center;
    padding: 20px 0;
}

#logo, #menu {
    padding: 10px;
}

#menu {
    display: flex;
    justify-content: center;
    gap: 15px;
    background: #004a99;
    padding: 10px 0;
}

#menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background 0.3s ease, color 0.3s ease;
}

#menu a:hover {
    color: #06c;
    background-color: aliceblue;
}

.white {
    color: white;
}

#content {
    max-width: 1100px;
    width: 100%;
    margin: 20px auto;
    padding: 15px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

#posts {
    flex: 2;
}

.post {
    padding: 15px;
    margin-bottom: 20px;
    background: floralwhite;
    text-align: justify;
    border-radius: 8px;
}

.data-post {
    font-size: 13px;
    color: #333;
    margin-bottom: 4px;
    display: block;
}


.img-post {
    width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
    border-radius: 8px;
}

#right-side {
    flex: 1;
}

.content-right {
    background: white;
    padding: 10px;
    margin-bottom: 20px;
}

.post-right {
    font-size: 13px;
    padding: 5px;
    border-bottom: 1px dotted #ccc;
}

a:link,
a:visited {
    color: #06c;
}

a:hover {
    text-decoration: underline;
}

#footer {
    text-align: center;
    background: #06c;
    color: white;
    padding: 10px;
    margin-top: 20px;
    border-top: 3px solid #004a99;

}
